@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-ThinCond.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-ThinCond.woff) format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-MediumCond.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-MediumCond.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-MediumCondObl.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-MediumCondObl.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-CondensedBold.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-CondensedBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-BlackCond.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-BlackCond.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-BlackCondObl.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-BlackCondObl.woff) format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}